// footer.scss

.site-footer {
    display: flex;
    flex-direction: column;
    @include padding-left-right;
    background-color: $color__brand-red;
    color: #fff;
    text-align: center;
    font-family: $font__regular;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    font-size: 0.8125rem;

    h1 {
        color: #fff;
        font-size: 1.063rem;
        margin-bottom: 0;

    }

    .contact-section {

        .schema-section {
            .contact-numbers {
                padding-top: 1em;
            }
        }


        .hours {
            margin-top: 1em;

        }
    }

    .icons-section {
        margin-top: 2em;
        .social {
            h1 {
                margin-bottom: .5em;
            }

            a {
                padding: 5px;
            }

            svg {
                max-width: 42px;
            }
        }

        .brand {
            margin-top: 1.5em;

            svg {
                margin-left: 5px;
                margin-right: 5px;
            }

        }

        .translate {
            margin-top: 1.5em;

        }

        .mm4 {
            margin-top: 1.5em;
            margin-bottom: 1.5em;

        }
    }
} // site-footer