h1, h2, h3, h4, h5, h6 {
	clear: both;
    color: $color__brand-brown;
    @include reset;
}

h1 {
    margin: .5em 0;
    line-height: 1;
}

h2 {
    font-family: $font__bold;
    font-size: 1.438rem;
    margin: .5em 0;
    line-height: 1.25;
}