#secondary {
    margin-top: 1.5em;
    margin-bottom: .5em;

    .sidebar-wrapper {
        max-width: 300px;
        // padding: 1em 0;
        line-height: 1.25;

        h1 {
            color: $color__brand-red;
            font-family: $font__bold;
            text-transform: uppercase;
            font-size: 1.938rem;
            @include reset;
        }

        h2 {
            font-family: $font__semi;
            margin: .25em 0;
            font-size: 1.25rem;
        }

        h4 {
            font-family: $font__regular;
            margin: 0;
            font-size: 0.75rem;
            line-height: 1.25;
        }

        p {
            margin: 0;
            font-size: 0.875rem;
        }

        .sidebar-specials {
            background-color: $color__brand-pink;
            padding: 1em;
            border-top: 2px solid $color__brand-brown;
            border-bottom: 2px solid $color__brand-brown;
            min-height: 180px;

            h1 {
                font-size: 2.188rem;
            }

            h2 {
                margin-top: 0;
            }

            @include respond-to('tablet') {
                text-align: center;

                h1 {
                    font-size: 3rem;
                    line-height: .9;
                }

                h2 {
                    font-size: 1.375rem;
                }

                h4 {
                    margin-bottom: .5em;
                }
            }

        }

        .sidebar-events {
            padding: 1em .5em;
            border-bottom: 2px solid $color__brand-brown;


        }

        .sidebar-pets {
            display: flex;
            justify-content: space-around;
            padding:1em .5em;
            overflow: hidden;
            border-bottom: 2px solid $color__brand-brown;

            h1 {
                flex: 2;
                padding-right: 5px;

            }

            img {
                flex: 1;
                display: block;
                max-width: 100px;
                max-height: 100px;
                padding-left: 5px;
            }
        }

        @include respond-to('tablet') {
            max-width: 325px;
            line-height: 1;
        }
    }

}
