#secondary {
    padding: 1em 0;

    .sidebar-wrapper {
        max-width: 300px;
        // padding: 1em 0;
        line-height: 1;

        h1 {
            color: $color__brand-red;
            font-family: $font__bold;
            text-transform: uppercase;
            margin: 0;
        }

        h2 {
            font-family: $font__semi;
            margin: 0;
        }

        h4 {
            font-family: $font__regular;
            margin: 0;
        }

        p {
            margin: 0;
        }

        .sidebar-specials {
            background-color: $color__brand-pink;
            padding: 1em;
            border-top: 2px solid $color__brand-brown;
            border-bottom: 2px solid $color__brand-brown;

        }

        .sidebar-events {
            padding: 1em;
            border-bottom: 2px solid $color__brand-brown;


        }

        .sidebar-pets {
            display: flex;
            justify-content: space-around;
            padding:1em;
            overflow: hidden;
            border-bottom: 2px solid $color__brand-brown;

            h1 {
                flex: 2;
                padding-right: 5px;

            }

            img {
                flex: 1;
                display: block;
                width: 100px;
                height: 100px;
                padding-left: 5px;
            }
        }
    }
}
