.page-template-frontpage {

    figure {
        @include reset;
        max-height: 300px;
        display: flex;            /* establish flex container */
        flex-direction: column;   /* stack flex items vertically */
        position: relative;       /* establish neares positioned ancenstor for absolute positioning */
        overflow: hidden;

        img {
            min-height: 200px;

        }

        h1 {
            color:#fff;
            font-size: 1.625rem;
            position: absolute;
            top: 2em;
            right: 1em;
            bottom: 0;
            left: 1em;
            // left: 10%;
            // top: 50%;
            // transform: translate(-10%, -50%);
            font-weight: bold;
            margin:0;
            padding:0;

        }

        .center-aligned {
            display: flex;
            align-items: center;
            justify-content:center;
        }
    }

    .entry-header {
        line-height: 1;
        text-align: center;
        margin-top: 1em;
        h1 {
            color: $color__brand-red;
            font-family: $font__alex;
            font-size: 3.438rem;
            @include reset;

            span {
                color: $color__brand-brown;
                font-family: $font__bold;
                font-size: 2rem;
            }
        }
        h2 {
            @include reset;
            font-size: 1.313rem;
        }
    }
}