.page-template-page-floorplans {

    #floorplans-section {
        text-align: center;

        h1 {
            font-family: $font__alex;
            color: $color__brand-red;
            font-size: 2.5rem;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;

            &:before,
            &:after {
              flex-grow: 1;
              height: 2px;
              content: '\a0';
              background-color: $color__brand-red;
              position: relative;
              top: 0.5em;
            }

            &:before {
              margin-right:10px;
            }

            &:after {
              margin-left:10px;
            }
        }

        h2 {
            text-transform: uppercase;
            font-size: 1.063rem;
            margin-bottom: 1.5em;
            font-family: $font__regular;
        }

        .description,
        .sqft,
        .availability-link button {
            text-transform: uppercase;
        }

        .description {
            color: $color__brand-red;
            font-family: $font__bold;
        }
        .sqft {
            font-family: $font__light;

        }

        .availability-link {
            font-family: $font__regular;

        }



        .floorplans-wrapper {

            .fp-models {

                .floorplan {
                    margin: 2em 0;
                }

                .one-bedroom-section,
                .two-bedroom-section,
                .three-bedroom-section {
                    margin-bottom: 4em;
                }
            }
        }
    }
}