.page-template-page-amenities {

    #features-section,
    #amenities-section {

        h1 {
            font-family: $font__alex;
            color: $color__brand-red;
            font-size: 2.5rem;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;

            &:before,
            &:after {
              flex-grow: 1;
              height: 2px;
              content: '\a0';
              background-color: $color__brand-red;
              position: relative;
              top: 0.5em;
            }

            &:before {
              margin-right:10px;
            }

            &:after {
              margin-left:10px;
            }
        }
    }

    .features-wrapper,
    .amenities-wrapper {
        display: flex;
        flex-wrap:wrap;
        text-align: center;
    }

    .highlight {
        border: 1px solid red;
        flex: 1 0 48%;
        margin: 1px;
        font-family: $font__regular;
        width: 150px;
        height: 150px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .wrapper, a {
            color: $color__brand-brown;
            padding: 10px;
            font-family: $font__regular;
        }
    }

    .title {
        text-transform: uppercase;
    }

    .disclaimer {
        font-size: 0.8125rem;
        font-family: $font__regular;
    }

}