
@media screen and (min-width: 600px){
    .fancy {
      line-height: 0.5;
      text-align: center;
    }

    .fancy span#request-header,
    .fancy span#floorplans-header,
    .fancy span#features-header {
      display: inline-block;
      position: relative;
    }

    .fancy span#request-header:before,
    .fancy span#request-header:after,
    .fancy span#floorplans-header:before,
    .fancy span#floorplans-header:after,
    .fancy span#features-header:before,
    .fancy span#features-header:after {
      content: "";
      position: absolute;
      height: 5px;
      border-top: 1px solid #68000b;
      top: 12px;
      width: 30px;
    }

    .fancy span#request-header:before,
    .fancy span#floorplans-header:before,
    .fancy span#features-header:before  {
      right: 100%;
      margin-right: 15px;
    }

    .fancy span#request-header:after,
    .fancy span#floorplans-header:after,
    .fancy span#features-header:after {
      left: 100%;
      margin-left: 15px;
    }

    .fancy span#request-header:before,
    .fancy span#request-header:after{
        width: 60px;
    }

    .fancy span#floorplans-header:before,
    .fancy span#floorplans-header:after{
        width: 35px;
    }

    .fancy span#features-header:before,
    .fancy span#features-header:after{
        width: 125px;
    }

}


@media screen and (min-width: 700px){
    /*.fancy span:before,
    .fancy span:after {
      width: 100px;
    }*/

    .fancy span#request-header:before,
    .fancy span#request-header:after{
        width: 120px;
    }

    .fancy span#floorplans-header:before,
    .fancy span#floorplans-header:after{
        width: 105px;
    }

    .fancy span#features-header:before,
    .fancy span#features-header:after{
        width: 185px;
    }
}


@media screen and (min-width: 1000px){
    /*.fancy span:before,
    .fancy span:after {
      width: 200px;
    }*/

    .fancy span#request-header:before,
    .fancy span#request-header:after{
        width: 220px;
    }

    .fancy span#floorplans-header:before,
    .fancy span#floorplans-header:after{
        width: 205px;
    }

    .fancy span#features-header:before,
    .fancy span#features-header:after{
        /* width: 275px; */
    }

}


@media screen and (min-width: 1300px){
    /*.fancy span:before,
    .fancy span:after {
      width: 368px;
    }*/

    .fancy span#request-header:before,
    .fancy span#request-header:after{
        width: 400px;
    }

    .fancy span#floorplans-header:before,
    .fancy span#floorplans-header:after{
        width: 375px;
    }

    .fancy span#features-header:before,
    .fancy span#features-header:after{
        /* width: 465px; */
    }

}


/* Nono flex solutoni*/
h1 {

    font-family: $font__alex;
    background: #fff;
    font-size: 2.5rem;
    padding: 1.75em 0px;
    margin-bottom: 0;
    line-height: .5;
    text-align: center;

    .floorplan-header {
        color: $color__brand-red;
        display: inline-block;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            height: 5px;
            border-top: 2px solid $color__brand-red;
            top: 0;
            width: 30px;
            right: 100%;
            margin-right: 15px;
        }
        &:after {
            content: "";
            position: absolute;
            height: 5px;
            border-top: 2px solid $color__brand-red;
            top: 0;
            width: 30px;
            left: 100%;
            margin-left: 15px;
        }
    }
}