#page {
    .site-content {
        background-color: #fff;

        .featured-image {
            @include reset;
            img {
                display: block;
                width: 100%;
            }
        }

        .content-wrapper {
            @include max-width(1200px);
            @include padding-left-right;
            display: flex;
            flex-direction: column;

            .content-tagline {
                font-family: $font__semi;
            }

            #primary {
                flex: 1;
                order:2;
            }

            #secondary {
                flex: 1;
                order:1;

                @media screen and (min-width:600px) {
                    .sidebar-wrapper {
                        margin: 0 auto;
                    }
                }

                @include respond-to('tablet') {
                    .sidebar-wrapper {
                        margin:0;
                    }
                }


            }

            @include respond-to('tablet') {
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 2em;
                #primary {
                    order:1;
                    flex: 2;
                    padding-right: 3em;
                }

                #secondary {
                    flex: 1;
                    order:2;
                    min-width: 275px;
                    max-width: 300px;
                }
            }
        }

        @include respond-to('tablet') {
            border-bottom: 5px solid $color__brand-brown;
        }
    }

    .footer-tagline {
        @include padding-left-right;
        text-align: center;

        h1 {
            color: #ffffff;
            font-family: $font__alex;
            font-size: 1.625rem;
        }

        .lead {
            font-size:2.5rem;
        }

        @include respond-to('tablet') {
            text-align: left;
        }
    }

    @include respond-to('medium') {
        // font-size: 1.2em
    }

    @include respond-to('large') {
        // font-size: 1.4em;
    }
}