#page {
    .site-content {
        background-color: #fff;

        .featured-image {
            @include reset;
            img {
                display: block;
                width: 100%;
            }
        }

        .content-wrapper {
            @include max-width(1500px);
            @include padding-left-right;
            display: flex;
            flex-direction: column;

            .content-tagline {
                font-family: $font__semi;
            }

            #primary {
                flex: 2;
                order:2;
            }

            #secondary {
                flex: 1;
                order:1;

            }

            @include respond-to('tablet') {
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 2em;
                #primary {
                    order:1;
                    margin-right: 2em;
                }

                #secondary {
                    order:2;
                }
            }
        }

        @include respond-to('tablet') {
            border-bottom: 5px solid $color__brand-brown;
        }
    }

    .footer-tagline {
        @include padding-left-right;
        h1 {
            color: #ffffff;
            text-align: center;
            font-family: $font__alex;
            font-size: 1.625rem;
        }

        .lead {
            font-size:2.5rem;
        }
    }

    @include respond-to('medium') {
        // font-size: 1.2em
    }

    @include respond-to('large') {
        // font-size: 1.4em;
    }
}