// masthead.scss

#masthead {
    background-color: $color__brand-brown;
    color: #fff;
    width: 100%;
    height: auto;
    border-bottom: 5px solid $color__brand-pink;
    @include padding-left-right;

    .masthead-wrapper {
        display: flex;
        justify-content: space-between;

        .site-branding {
            flex: 1;
            align-self: center;

            svg {
                max-width: 145px;

                 @include respond-to('small') {
                     max-width: 200px;
                 }

                 @include respond-to('large') {
                     max-width: 225px;
                 }
            }
        }

        .main-navigation {
            flex: 1;
            display: flex;
            flex-direction: column;

            .masthead-phone {
                text-align: right;
                color: #fff;
                font-family: $font__bold;

                span {
                    display: none;
                    margin-right: .5em;

                    @include respond-to('tablet') {
                        display: inline-flex;
                    }
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    font-family: $font__bold;
                    font-size: 1.188rem;
                }
            }

            .menu-toggle {
                background-color: $color__brand-red;
                color: #fff;
                font-family: $font__light;
                font-size: 0.9375rem;
                text-transform: uppercase;
                width: 63px;
                margin-left: auto;
                padding: .5em;
            }

            .menu-menu-container {
                display: none;
                color: #fff;

                ul {
                    list-style-type: none;

                    .current-menu-item {

                        a {
                            color: $color__brand-pink;
                        }
                    }

                    li {
                        list-style: none;

                        a {
                            padding: 1.5em;
                            color: #fff;
                            text-decoration: none;
                            font-family: $font__light;

                            &:before {
                                content: '\25b6';
                                color: #fff;
                                font-size: .5em;
                                margin-right: 5px;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }

        @include respond-to('small-land') {
            padding-top: .5em;

            .menu-toggle {
                margin-top: .20em;
            }
        }

        @include respond-to('large') {
            line-height: 1.2;

            .main-navigation {
                flex: 5;
                text-align: right;

                .menu-toggle {
                    display: none;
                }

                .masthead-phone {
                    font-size: 1.313rem;

                    a {
                        font-size: 2.25rem;
                    }
                }

                .menu-menu-container {
                    display: inline-flex;

                    ul {
                        display: inline-flex;

                        .residents-menu {
                            display: none;
                        }

                        li {
                            font-size: 1.313rem;

                            a {
                                font-size: .9em;

                                &:last-child {
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} // #masthead